.btn_container {
  position: absolute;
  bottom: -40.5px;
  width: 200px;
  height: 35.5px;
  background-color: var(--backgroundGrey);
  display: flex;
  margin: auto;
  padding-top: 0px;
  left: 0;
  right: 0;
}
