@import "../../constants/colors.css";

.top_bar {
  position: absolute;
  width: 100vw;
  background-color: var(--backgroundGrey);
  top: 0;
  left: 0;
  display: flex;
  padding: 10px 10px;
  box-sizing: border-box;
}

.header {
  font-family: Avenir;
  font-size: 20px;
  font-weight: 900;
  color: #a1a1a1;
  vertical-align: center;
}

.map {
  margin-top: 51.5px;
}

.bottom_bar {
  position: absolute;
  width: 100vw;
  height: 45.5px;
  background-color: var(--backgroundGrey);
  bottom: 0;
  left: 0;
  display: flex;
}
