@import "../../constants/colors.css";

.top_bar {
  position: relative;
  width: 100vw;
  background-color: var(--backgroundGrey);
  top: 0;
  left: 0;
  display: flex;
  padding: 10px 10px;
  box-sizing: border-box;
}

.menu_item_container {
  display: flex;
}

.menu_item {
  display: inline-block;
  font-family: Avenir;
  font-size: 20px;
  font-weight: 900;
  margin-right: 40px;
  color: var(--textColorWhite);
  vertical-align: middle;
  line-height: 23px;
  padding-bottom: 5px;

  cursor: pointer;
}

.menu_item_selected {
  padding-bottom: 5px;
  border-bottom: 2px solid rgb(77, 144, 230);
}

.bottom_bar {
  width: 100vw;
  height: 45.5px;
  background-color: var(--backgroundGrey);
  bottom: 0;
  left: 0;
  display: flex;
}

.intro {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 75px;
}

.landing_header {
  font-size: 42px;
  text-align: center;
  font-family: Avenir;
  font-weight: 900;
  margin-bottom: 0px;
  color: var(--backgroundGrey);
}

.contentsContainer {
  display: flex;
  flex-direction: row;
}

.civ5Instructions {
  flex: 50%;
  padding: 50px;
  background-color: rgb(50, 58, 71, 0.33);
  margin-right: 10px;
  border-radius: 5px;
  box-shadow: 3px 3px 25px lightgrey;
}

.civ6Instructions {
  flex: 50%;
  padding: 50px;
  background-color: rgb(174, 165, 140, 0.33);
  margin-left: 10px;
  border-radius: 5px;
  box-shadow: 3px 3px 25px lightgrey;
}

.civvLogo {
  max-width: 376px;
}

.civviLogo {
  max-width: 376px;
}

h1 {
  font-family: Avenir;
  text-align: center;
  margin-bottom: 30px;
  color: inherit;
  color: var(--backgroundGrey);
}
