@import "../../constants/colors.css";

.screen {
  background-color: rgba(255, 255, 255, 0.5);
  width: 100vw;
  height: 100vh;
  z-index: 1;
  position: fixed;
}

.window {
  position: absolute;
  width: 500px;
  height: 495px;
  background-color: var(--backgroundGrey);
  margin-left: auto;
  margin-right: auto;
  bottom: 210px;
  left: 0;
  right: 0;
  border-radius: 5px;
  box-shadow: 10px 10px 15px grey;
}

.header {
  font-family: Avenir;
  font-size: 20px;
  font-weight: 900;
  color: var(--textColorWhite);
  text-align: center;
  margin-top: 20px;
}

.instructionHeader {
  font-size: 16px;
  margin-bottom: 10px;
  margin-top: 5px;
}

.buttonContainer > * {
  margin: auto;
}
