@import "../../constants/colors.css";

.header {
  font-size: 14px;
  font-weight: 900;
  font-family: Avenir;
  text-align: center;
  color: var(--textColorWhite);
  margin-top: 10px;
}

.horizontal_containers {
  display: flex;
  position: relative;
}

.left_header_container {
  min-width: 40px;
  margin-left: 20px;
  margin-right: 10px;
  margin-top: 14px;
}

.left_headers {
  color: var(--textColorWhite);
  font-family: Avenir;
  font-size: 12px;
  font-weight: 900;
  text-transform: capitalize;
}

.help_link {
  text-decoration: none;
  outline: none;
  color: var(--backgroundGrey);
  font-weight: 800;
}
