@import "../../constants/colors.css";
@import "../../components/Button/styles.module.css";

.header {
  font-size: 15px;
  font-weight: 800;
  font-family: Avenir;
  text-align: center;
  color: var(--textColorWhite);
  margin-top: 10px;
  margin-bottom: 10px;
}

.horizontal_containers {
  display: flex;
  position: relative;
}

.left_header_container {
  min-width: 40px;
  margin-left: 20px;
  margin-right: 10px;
  margin-top: 14px;
}

.left_headers {
  color: var(--textColorWhite);
  font-family: Avenir;
  font-size: 12px;
  font-weight: 800;
  text-transform: capitalize;
}

.help_link {
  text-decoration: none;
  outline: none;
  color: var(--backgroundGrey);
  font-weight: 800;
}

.advanced_back_container {
  display: flex;
  flex-direction: row;
  position: absolute;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 800;
  font-family: Avenir;
  text-align: center;
  color: var(--textColorWhite);
}

.advanced_back_icon {
  height: 15px;
  margin-right: 5px;
  display: inline-block;
}

.advanced_back_container:hover {
  font-weight: 900;
  letter-spacing: 0.02px;
  transition-property: all;
  transition-duration: 0.6s;
  transition-timing-function: ease;
}

.advanced_body {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.caption_container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.marker,
.marker_none,
.marker_ubiquitous {
  background-color: var(--textColorWhite);
  height: 8px;
  position: absolute;
  right: auto;
  top: -5px;
  width: 2px;
}

.marker {
  right: 50%;
}

.marker_ubiquitous {
  right: -0px;
}

.caption {
  color: var(--textColorWhite);
  font-family: Avenir;
  font-size: 10px;
}
