@import "../../constants/colors.css";

.outer_container {
  left: 0;
  display: flex;
  margin-left: 20px;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  flex-direction: column;
}

.help_link {
  text-decoration: none;
  outline: none;
  color: var(--textColorWhite);
  font-weight: 800;
}

.inner_container {
  flex-direction: row;
  display: flex;
}

.text_front,
.text {
  color: var(--textColorWhite);
  font-family: Avenir;
  font-size: 12px;
  margin: 3px;
}

@media screen and (max-width: 675px) {
  .text_front {
    display: none;
  }
  .outer_container {
    margin-left: 18px;
  }
}
