.top_bar {
  position: relative;
  width: 100vw;
  background-color: var(--backgroundGrey);
  top: 0;
  left: 0;
  display: flex;
  padding: 10px 20px;
  box-sizing: border-box;
}

.header_container {
  flex: 80%;
  display: flex;
  flex-direction: row;
}

a.header {
  display: flex;
  font-family: Avenir;
  font-size: 20px;
  font-weight: 800;
  color: var(--textColorWhite);
  cursor: pointer;
  line-height: 23px;
  letter-spacing: 2px;
  text-decoration: none;
  flex-wrap: nowrap;
  align-items: center;
}

.logo {
  height: 30px;
  width: 30px;
  margin-right: 10px;
  display: block;
}

.menu_item_container {
  display: flex;
  align-items: center;
}

.about,
.help {
  line-height: 23px;
  width: 100px;
}

a.menu_item {
  display: inline-block;
  font-family: Avenir;
  font-size: 20px;
  font-weight: 800;
  margin-left: 55px;
  color: var(--textColorWhite);
  vertical-align: middle;
  line-height: 23px;
  cursor: pointer;
  text-decoration: none;
}

@media screen and (max-width: 375px) {
  .about {
    margin-left: 20px;
  }
  .help {
    margin-right: 10px;
  }
  a.header {
    width: 40px;
    display: contents;
  }

  a.header > header {
    display: none;
  }

  .header_container {
    width: 40px;
    margin-right: 10px;
    margin-left: 10px;
  }
  .logo {
    height: 40px;
    width: 40px;
  }
  .top_bar {
    padding: 5px 20px;
    box-sizing: border-box;
    align-items: center;
  }
}

.menu_item_selected {
  border-bottom: 2px solid rgb(77, 144, 230);
  transform: translate(0px, 1px);
  transition-duration: 2s;
  transition-timing-function: ease;
  align-items: center;
}

.menu_item:hover {
  font-weight: 900;
  letter-spacing: 0.5px;
  transition-property: height, width, font-weight;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}

.header:hover {
  font-weight: 900;
  letter-spacing: 2.05px;
  transition-property: height, width, font-weight;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}
