#map {
  height: 100%;
  width: 100%;
  z-index: 0;
}

.layers-container {
  display: flex;
}

.layer-display {
  flex: 1;
}

.leaflet-tooltip {
  background-color: var(--backgroundGrey);
  color: var(--textColorWhite);
  border-color: var(--backgroundGrey);
}

.leaflet-tooltip-right:before {
  border-right-color: var(--backgroundGrey);
}

.leaflet-tooltip-left:before {
  border-left-color: var(--backgroundGrey);
}
