#map {
  height: 100%;
  width: 100%;
  z-index: 0;
}

.layers-container {
  display: flex;
}

.layer-display {
  flex: 1;
}

.leaflet-popup {
  pointer-events: none;
  text-transform: capitalize;
}

.popupOptions {
  height: 5px;
  width: 10px;
  padding: 0px;
  text-align: center;
}

.leaflet-popup-content-wrapper {
  background-color: var(--textColorWhite);
  border-radius: 0px;
}

.leaflet-popup-tip {
  background-color: var(--textColorWhite);
  display: none;
}

.leaflet-popup-content {
  margin: 0px;
  padding: 5px;
  text-align: center;
}
